header{
    background-color: rgba(39,52,139,255);
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    margin-bottom:0;
}
.navbar{
    background-color: rgba(39,52,139,255);
    color: whitesmoke;
    font-family: sans-serif;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav{
    position: relative;
    margin: 0 auto;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
}

.nav-link{
    color: whitesmoke;
    text-decoration: none;
}

.nav-item{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.dropdown-menu{
    background-color: rgba(39,52,139,255);
    color: whitesmoke;
}

.dropdown-item{
    background-color: rgba(39,52,139,255);
    color: whitesmoke;
}

<<<<<<< HEAD
=======
.container-fluid{
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    text-align: center;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    text-align: center;
    padding: 6px;
    background-color:rgba(39,52,139,255);
    color: #e2b600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    font-size: large;
    text-decoration: underline;
}

a:hover {
    color: hotpink;
  }
>>>>>>> 6565a22 (Homepage update V2)

