{%extends "base.html" %}
{%block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/carouselstyle.css')}}"> <!--Stylesheet for the carousel-->
{%endblock%}
{%block body%}
        <div class="center content-headings">
            <h1 class="content-section-title"> Postgraduate Degrees at UWA  </h1>
            <p class="content-section-text"> Once you've begun doing your undergraduate degree, you may start thinking about continuing your degree in postgrad. In this section we'll be learning all about the types of Postgraduate degrees that UWA offers to continue your study journey at UWA! </p>
        </div>
        <div class="progress my-2">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%;"> </div>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-step="1">
                    <img class="d-block w-75 caro-image" src="https://www.web.uwa.edu.au/__data/assets/image/0018/2282004/centenary_year.jpg" alt="First slide">
                    <img class="d block caro-image-overlap" src="https://www.colorhexa.com/27348b.png" alt="background-image">
                    <div class="carousel-caption">
                        <h1> Introduction to Postgrad </h1>
                        <div class="caro-text first-slide-spacer">
                            <p> Once you have graduated and completed your undergraduate course, you have the option of undertaking a postgraduate degree! </p> <br>
                            <ul>
                                <li> Applications to postgraduate degrees can be completed on the UWA website and can be completed either in your final year/semester of study or even after you have graduated. </li>
                                    <li class="list-indented"> Ensure that you read all your chosen postgraduate course’s requirements before enrolling. </li>
                                    <li class="list-indented"> Each postgraduate course at UWA has their own specific requirements based on prerequisites, academic performance and English competency and can be viewed on the postgraduate 
                                        <a href="https://handbooks.uwa.edu.au/postgraduate" target="_blank"> handbooks </a> </li>
                                <li> This includes Honours or Master’s and continues onto a PhD once you have completed Honours or Master's. </li>
                                    <li class="list-indented"> Continue onto the next slide to learn about Honours and Master's courses at UWA. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-step="2">
                    <img class="d-block w-75 caro-image" src="https://www.web.uwa.edu.au/__data/assets/image/0018/2282004/centenary_year.jpg" alt="Second slide">
                    <img class="d block caro-image-overlap" src="https://www.colorhexa.com/27348b.png" alt="background-image">
                    <div class="carousel-caption">
                        <h1> Honours </h1>
                        <div class="caro-text general-slide-spacer">
                            <p> At most Australian universities, Honours is an additional year of study that you can take at the end of your three-year bachelor’s degree course and involves a year of full-time study including both research and coursework components. </p> <br>
                            <ul>
                                <li> It involves eight level 4 units and a written dissertation of approximately 15,000 words which is completed over two consecutive semesters. </li>
                                    <li class="list-indented"> This is an intensive year of study and has a heavier study load than an undergraduate degree. </li>
                                <li> If you are considering a future in research or wish to complete more in your time at university, an honours degree will give you valuable skills in problem-solving, critical thinking, independent learning, and communication. </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-step="3">
                    <img class="d-block w-75 caro-image" src="https://www.web.uwa.edu.au/__data/assets/image/0018/2282004/centenary_year.jpg" alt="Third slide">
                    <img class="d block caro-image-overlap" src="https://www.colorhexa.com/27348b.png" alt="background-image">
                    <div class="carousel-caption">
                        <h1> Master's </h1>
                        <div class="caro-text general-slide-spacer">
                            <p> Master’s degrees can be completed by coursework, coursework and these or dissertation or just research. </p> <br>
                            <ul>
                                <li> Coursework simply means that you complete your master’s degree with the only requirement that you complete the units in your master’s up to the required number of credit points.  </li>
                                <li> Masters by research (thesis and/or dissertation) means that you must submit a final paper either by itself or in conjunction with the coursework that you complete for that master’s degree (depending on whether you undertake a master’s by coursework and research or a master’s by research only). </li>
                                <li> Master’s degrees can be considered as an extension of your undergraduate degree and can be useful in teaching you more about your field of study after your undergraduate and increasing your employability in that field.  </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-step="4">
                    <img class="d-block w-75 caro-image" src="https://www.web.uwa.edu.au/__data/assets/image/0018/2282004/centenary_year.jpg" alt="Fourth slide">
                    <img class="d block caro-image-overlap" src="https://www.colorhexa.com/27348b.png" alt="background-image">
                    <div class="carousel-caption">
                        <h1 style="font-size:1.95vw;"> Differences Between Honours, Master's and PhD </h1>
                        <div class="caro-text general-slide-spacer">
                            <p> The main difference between the two typically lies in the type of work you do throughout the course and the duration of the course. </p>
                            <ul style="margin-bottom:30px;">
                                <li> Master’s courses are typically 1.5-2 years and can be done by coursework, coursework and dissertation/thesis or by thesis only. </li>
                                <li> Honours courses are 1 year in duration and involve both coursework and a written dissertation. </li>
                                <li> Additionally, a PhD is a course that you undertake after your Honours/Masters and involves a “program of independent, supervised research that is assessed solely on the basis of a thesis that is examined externally”. </li>
                                    <li class="list-indented"> These are often 4+ year long courses that involve independent research on a certain field of study and are the highest level of degree that you can obtain. </li>
                            </ul>
                        </div>
                        <a href="{{ url_for('contentDefinitions') }}" class="buttontonext"> Click here for Additional Information and Definitions </a> <br>
                        <a href="{{ url_for('contentUndergrad') }}" class="buttontonext"> Click here to go back to the Undergraduate degree </a> <br>
                        <a href="{{ url_for('contentEnrolment') }}" class="buttontonext"> Click here to go back to Enrolment </a> <br>
                    </div> 
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
                <script>
                    var totalSlides = 4;
                    $('#myCarousel').carousel();

                    $('#myCarousel').on('slide.bs.carousel', function(progressMovement) {
                    
                    var numSlide = $(progressMovement.relatedTarget).data('step');
                    var percent = (parseInt(numSlide) / totalSlides) * 100;
                    $('.progress-bar').css({width: percent + '%'}); 
                    })
                </script>
            </div>
        </div>
{%endblock%}
    </body>
</html>