{%extends "base.html" %}
{%block head%}
        <style>
            a {
                text-decoration:underline;
                color:lightblue;
            }
            .def-text {
                font-weight:bold;
                font-style:italic;
                text-decoration: underline;
            }
        </style>
{%endblock%}
{%block body%}
        <div class="center" style="text-align:center; margin:25px 50px 0px 50px">
            <h1 style="color:rgba(39,52,139,255)"> Enrolling in Your First Undergraduate Degree </h1>
            <p style="margin-top:20px; margin-left:150px; margin-right:150px; font-size:20px;"> Now that we've learnt all about course requirements, units and majors, let's enrol for our first undergraduate degree! </p>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-75 caro-image" src="https://www.web.uwa.edu.au/__data/assets/image/0018/2282004/centenary_year.jpg" alt="First slide" >
                <img class="d block caro-image-overlap" src="https://www.colorhexa.com/27348b.png" alt="background-image">
                <div class="carousel-caption" style="color:white;">
                    <h1 style="margin-top:10px;"> Enrolling on StudentConnect </h1>
                    <div class="caro-text" style="margin-top:12px; font-size:16px;">
                        <p> Now that we're all set up, the next step is to simply enrol in our course on UWA's online student hub, StudentConnect. </p>
                        <p> Start by logging into the StudentConnect site which can be found 
                                <a href="https://www.uwa.edu.au/students" target="_blank"> here. </a></p>
                        <ol>
                            <li> Navigate to COURSE DETAILS > Online enrolment and click on "Begin online enrolment". </li>
                            <li> Firstly, enter your nominated graduation year and completion period – for most people this would be 3 years (inclusive) from the time you begin your degree. For example, if you began your course in 2022, you would graduate at the end of 2024. </li>
                            <li> Next, you may select your Unit Sets which relates to your major and second major. You will select your degree-specific major and your second degree major. </li>
                            <li style="margin-bottom:5px;"> Now refer to your study plan that we made in the previous guide. You will now select your units. You can search up units according to their unit code – e.g., CITS1401. Once you have all the units selected for both semesters 1 and 2, then checkout and those units will now be selected as the first units of your course. Consider first year sorted! </li>
                        </ol>
                    </div>
                </div>
              </div>
            <div class="carousel-item">
                <img class="d-block w-75 caro-image" src="https://www.web.uwa.edu.au/__data/assets/image/0018/2282004/centenary_year.jpg" alt="Second slide">
                <img class="d block caro-image-overlap" src="https://www.colorhexa.com/27348b.png" alt="background-image">
                <div class="carousel-caption" style="color:white;">
                    <h1 style="margin-top:10px;"> Class Allocation System </h1>
                    <div class="caro-text" style="margin-top:25px; font-size:16px;">
                        <p> Now all that is left is for you to sort out your University timetable on UWA’s class allocation system, also known as CAS. You can access CAS at cas.uwa.edu.au. You can select preferences up to four for which times you would like certain classes (tutorials, labs, workshops, etc.) to be allocated for you. Certain classes such as lectures are often not changeable. </p>
                        <p> The Class Allocation System will look like the image below. Click on this image to be directed to the CAS UWA website. </p>
                        <a href="https://www.cas.uwa.edu.au/" target="_blank">
                            <img style="display:block; width:50%; height:255px; margin-right:auto; margin-left:auto;" src="Images/CASexampleimage.png" alt="CAS Example">
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-75 caro-image" src="https://www.web.uwa.edu.au/__data/assets/image/0018/2282004/centenary_year.jpg" alt="Third slide">
                <img class="d block caro-image-overlap" src="https://www.colorhexa.com/27348b.png" alt="background-image">
                <div class="carousel-caption" style="color:white;">
                    <h1 style="margin-top:10px;"> What's Next? </h1>
                    <div class="caro-text" style="margin-top:25px;">
                        <ul>
                            <li> Congratulations! Now that you’ve finished enrolling at UWA, you can look into getting your own Campus Card! This can be done in-person from Student Central at UWA and the process begins online through studentconnect. </li>
                            <li> Next, you have the freedom to access your very own student email which, as of 2020, is available on Microsoft Outlook and can also be accessed through studentconnect. </li>
                            <li> Other things that you can now do involve making your own USI (Unique Student Identifier) and applying for the HECS-HELP loan scheme if you are a domestic student and wish to apply for governmental support for payment of your university course. You will need your tax-file number for this step and the setup is accessible once again through studentconnect. </li>
                            <li> Finally, attend orientation! Before University begins in February each year, there is a week of orientation for new students to explore the campus, get involved with University Clubs and learn about their course. The key dates for orientation are available on the Unistart website
                                <a href="https://www.uwa.edu.au/unistart/orientation" target="_blank"> here. </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
{%endblock%}
</html>