{%extends "base.html" %}
{%block head%}
        <style>
            body{
                background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("https://i.pinimg.com/originals/81/46/c8/8146c84f61351a9e5d33226251bb9e2f.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            .profile-pic{
                width: 150px;
                height: 150px;
                object-fit: cover;
                margin: 10px auto;
                border: 10px solid rgba(226,182,0,255);
                border-radius: 45%;
            }
            .edit-button{
                float:right;
                background-color:rgba(226,182,0,255); 
                color:rgba(39,52,139,255); 
                border-radius: 15%;
            }
            .results-shortcut{
                font-size: 15px;
                font-weight: bolder;
                border-radius: 5px;
                padding: 15px;
                background-color:rgba(226,182,0,255);
                color:rgba(39,52,139,255);
            }
            .card{
                background-color: rgba(1, 0, 54, 0.5); 
                color: whitesmoke; 
            }

        </style>
{%endblock%}
{%block body%}
        <div class="student-profile py-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card shadow-sm" style="height:365px">
                                <div class="card-header bg-transparent text-center">
                                    <img class="profile-pic" src="https://i.pinimg.com/originals/13/16/c6/1316c631f23bc01d9b3b37e917edd9a8.jpg" alt="profile picture">
                                    <h3 id="editable" contenteditable="false">{{ current_user.name }}</h3>
                                </div>
                                <div class="card-body">
                                    <p class="mb-0"><strong class="pr-1">Student ID:</strong>{{ current_user.studentid }}</p>
                                    <p class="mb-0"><strong class="pr-1">Major:</strong>{{ current_user.major }}</p>
                                    <p class="mb-0"><strong class="pr-1">Year:</strong>{{ current_user.year }}</p>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card shadow-sm">
                            <div class="card-header bg-transparent border-0">
                                <h3 class="mb-0">Account Details
                                    <button class="material-icons edit-button" title="edit info" onclick="editFunction();" 
                                    style="margin:auto; padding: 10px;">border_color</button>
                                </h3>
                            </div>
                            <div class="card-body pt-0">
                                <table class="table" style="color: whitesmoke">
                                    <tr>
                                        <th width="25%">Username</th>
                                        <td>{{ current_user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th width="25%">Email</th>
                                        <td>{{ current_user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th width="25%">Date of Birth</th>
                                        <td>{{ current_user.dateofbirth }}</td>
                                    </tr>
                                    <tr>
                                        <th width="25%">Password</th>
                                        <td>{{ current_user.password }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div style="height: 15px">
                            <!--empty div to put space between two cards on the same column length-->
                        </div> 
                        <div class="card shadow-sm">
                            <button class="results-shortcut">Sign Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {%endblock%}
        <script>
            function editFunction(){
                var x = document.getElementById("editable");
                if (x.contentEditable == "false") {
                    x.contentEditable = "true";
                } 
                else {
                    x.contentEditable = "false";
                }            
            }
        </script>
    </body>
</html>