{%extends "base.html" %}
{%block head%}
        <style>
            body{
                background-size: 110%;
                background-image: url(https://archello.s3.eu-central-1.amazonaws.com/images/2020/08/27/hassell-university-of-western-australia-----ezone-universities-archello.1598553028.4054.jpg);
            }

            .container{
                background-color: whitesmoke;
                height:90%
            }

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
{%endblock%}
{%block body%}
        <div class ="container">
            <h2><i class="fas fa-user-graduate"></i> Individual Performance</h2>
            <hr>
            <div class = "row">
                <div class = "col-4">
                    <h4 style= "font-size: 21.5px;" >Monkey D luffy</h4>
                    <h4 style = "font-size: 19px;">Student</h4>
                </div>
                <div class = "col-8">
                    <h4 style = "font-size: 21.5px;">Course Knowledge Tests</h4>
                    <table>
                        <tr>
                          <th>Name</th>
                          <th>Status</th>
                          <th>Score</th>
                        </tr>
                        <tr>
                          <td><a href="Undergraduate_quiz.html">Undergaduate Test</a></td>
                          <td>Not complete</td>
                          <td>-</td>
                        </tr>
                        <tr>
                            <td><a href ="Updated_handbook_quiz.html">Enrollment Test</a></td>
                            <td>Not complete</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><a href ="Changing_degrees.html">Postgraduate Test</a></td>
                            <td>Not complete</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Additional Information & Definitions</td>
                            <td>Not complete</td>
                            <td>-</td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}
    </body>