<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="studyPlanStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="studyPlanScript.js" defer></script>
    <!-- Define a JS object which contains information about prerequisites. -->
    <script>
        const prereqs = {
        FINA2222:"FINA1221",
        FINA2204:"FINA1221",
        FINA2205:"FINA1221",
        FINA2207:"FINA1221",
        FINA2209:"FINA1221",
        FINA3324:"FINA2222",
        ECON3236:"FINA2222",
        FINA3304:"FINA2222",
        FINA3306:"FINA2204",
        FINA3307:"FINA2222",
        FINA3326:"FINA2222",
        }
    </script>
    <title>Finance Study Plan</title>
</head>
<body>
    <!-- Create dropdown menu for majors -->
    <div class="dropdown">
        <button class="majors">Choose a major:</button>
            <div class="majorlist">
                <a href="studyPlanDS.html">Data Science</a>
                <a href="studyPlanFINA.html">Finance</a>
            </div>
    </div>
    <!-- Container on the right which holds available draggable units to drop into planner, depending on major selected. -->
    <div class="side container"> Available Units: <br><br>
        <div class="unit Y1 nY S1 S2" draggable="true">ACCT1101</div>
        <div class="unit Y1 nY S1 S2" draggable="true">FINA1221</div>
        <div class="unit Y1 Y2 S1 S2" draggable="true">FINA2222</div>
        <div class="unit Y1 Y2 S1 nS" draggable="true">FINA2204</div>
        <div class="unit Y1 Y2 S1 nS" draggable="true">FINA2205</div>
        <div class="unit Y1 Y2 S1 nS" draggable="true">FINA2207</div>
        <div class="unit Y1 Y2 nS S2" draggable="true">FINA2209</div>
        <div class="unit Y2 Y3 S1 nS" draggable="true">FINA3324</div>
        <div class="unit Y2 Y3 S1 nS" draggable="true">ECON3236</div>
        <div class="unit Y2 Y3 S1 nS" draggable="true">FINA3304</div>
        <div class="unit Y2 Y3 S1 S2" draggable="true">FINA3306</div>
        <div class="unit Y2 Y3 nS S2" draggable="true">FINA3307</div>
        <div class="unit Y2 Y3 nS S2" draggable="true">FINA3326</div>
    </div>
    <!-- Containers that units can be dropped into. -->
    <h1>Year 1</h1>
        <div class="Y1 S1">Semester 1
            <div class="main container">
            </div>
        </div>
            <br>
        <div class="Y1 S2">Semester 2
            <div class="main container">
            </div>
        </div>
    <h1>Year 2</h1>
        <div class="Y2 S1">Semester 1
            <div class="main container">
            </div>
        </div>
            <br>
        <div class="Y2 S2">Semester 2
            <div class="main container">
            </div>
        </div>
    <h1>Year 3</h1>
        <div class="Y3 S1">Semester 1
            <div class="main container">
            </div>
        </div>
            <br>
        <div class="Y3 S2">Semester 2
            <div class="main container">
            </div>
        </div>
</body>
</html>