{%extends "base.html" %}
{%block head%}
        <style>
            body{
                background-size: 110%;
                background-image: url(https://archello.s3.eu-central-1.amazonaws.com/images/2020/08/27/hassell-university-of-western-australia-----ezone-universities-archello.1598553028.4054.jpg);
            }

            .container{
                background-color: whitesmoke;
                height:90%
            }

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
{%endblock%}
{%block body%}
        <div class ="container">
            <h2><i class="fas fa-user-graduate"></i> Average Results</h2>
            <hr>
            <div class = "row">
                <div class = "col-4">
                    <h4 style= "font-size: 21.5px;" >Monkey D luffy</h4>
                    <h4 style = "font-size: 19px;">Student</h4>
                    <div class="container">
                        <div class="row">                   
                        </div>
                    </div>
                </div>
                <div class = "col-8">
                    <h4>Average Results</h4>
                    <table>
                        <col>
                        <col>
                        <colgroup span="3"></colgroup>
                        <thead>
                          <tr>
                            <th colspan="2" scope="col">Statistics</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Total Items</th>
                            <th>4</th>
                          </tr>
                          <tr>
                            <th>Completed</th>
                            <th>0 insert data here</th>
                          </tr>
                          <tr>
                            <th>Failed</th>
                            <th>insert data</th>
                          </tr>
                          <tr>
                            <th>Pending</th>
                            <th> insert data here</th>
                          </tr>
                          <tr>
                            <th>Not attempted</th>
                            <th>4</th>
                          </tr>
                          <tr>
                              <th>Mean</th>
                              <th>insert data here</th>
                          </tr>
                          <tr>
                              <th> Median</th>
                              <th>insert data here</th>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                      <h3>Average across all users</h3>
                      <table>
                        <thead>
                            <tr>
                              <th colspan="2" scope="col">Statistics</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th>Mean</th>
                                <th>insert data here</th>
                            </tr>
                            <tr>
                                <th> Median</th>
                                <th>insert data here</th>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}  
    </body>