<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ url_for('static', filename='Styles/welcome-style.css')}}">
        <title>UWA Enrolment and Studies Guide</title>
    </head>
    <body>
        <div id="topNav">
            <a>UWA Advisor</a>
            <p>A free guide to enrolment and studying at UWA</p>
        </div>
        <div class=mainContainer style="height: 50px; margin-top: 50px; display:none" id="hidden">
            <p id="msg" style="font-size: small; margin: 10px; text-align: center;"></p>
        </div>

<!-- <input class="inputField" type="text" id="username" name="username" placeholder="Enter your username" value="{{ request.form.username }}"><br>
<input class="inputField" type="password" id="pass" name="pass" placeholder="Enter your password" value="{{ request.form.password }}"><br>

-->
{% block content %}
        <div class="mainContainer" id="mainForm" style="height:320px;">
            <h1 style="display:block; margin-left:auto; margin-right:auto;"> WELCOME</h1>
            <div>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="inputContainer">
                        <i class="material-icons" style="margin-right:10px;">account_circle</i>
                         {{ form.username(size=32) }} <br>
                    </div>
                    <div class="inputContainer">
                        <i class="material-icons" style="margin-right:10px;">vpn_key</i>
                        {{ form.password(size=32) }}
                    </div>
                    <label style="position:absolute; right:670px; font-size:14px;"> Remember Me
                        {{ form.remember_me() }} </label>
                        <span class="checkmark"></span>
                    </label>

                    <button onclick="openPopup()" style="position:relative; margin-left:15px; color:rgba(226,182,0,255); background-color: transparent;">
                        Forgot password?</button>

                    <button class="button" type="submit" style="display:block; margin-left:auto; margin-right:auto; margin-top:10px;" value="Login">
                         {{ form.submit() }} </button>
                </form>

                {% if error %}
                    <p class="error">Error: {{error}}
                {%endif%}
            </div>
            <div class="submitContainer">
                <p>Don't have an account?</p>
                <a href="{{ url_for('registration') }}" style="color:rgba(226,182,0,255);">Register here!</a>
            </div>
        </div>

{% endblock %}

        <script>
            function openPopup() {
                var txt;
                var email = prompt("Please enter your email:");
                if (email == null || email == "") {
                    return;
                } 
                else {
                    txt = "An email has been sent to " + email + " explaining how to reset your password. Once completed, please refresh the page to try and login again";
                }
                document.getElementById("msg").innerHTML=txt;
                var reveal = document.getElementById("hidden");
                reveal.style.display="block";
            }
        </script>

    </body>
</html>