<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ url_for('static', filename='Styles/welcome-style.css')}}">
        <title>UWA Enrolment and Studies Guide</title>
    <style>
        .material-icons {
            margin-right:10px;
            width:30px;
            height:40px;
        }
    </style>
    </head>
    <body>
        <div id="topNav">
            <a>UWA Advisor</a>
            <p>A free guide to enrolment and studying at UWA</p>
        </div>

{% block content %} 
        <div class="mainContainer" id="mainForm" style="margin-top:100px; width:615px;">
            <h1>Registration</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="inputContainer">
                    <i class="material-icons">email</i>
                    <p>
                        {{ form.email(size=64) }} <br>
                        {% for error in form.email.errors %} 
                        <span style="color:red;"> [{{ error }}] </span>
                        {% endfor %} 
                    <!-- <input class="inputField" type="text" id="email" name="email" placeholder="Enter your email"><br> -->
                    </p>
                </div>
                <div class="inputContainer">
                    <i class="material-icons">text_format</i>
                    <p>
                        {{ form.name(size=32) }} <br>
                        {% for error in form.name.errors %} 
                        <span style="color:red;"> [{{ error }}] </span>
                        {% endfor %} 
                    <!-- <input class="inputField" type="text" id="fname" name="fname" placeholder="Enter your full name"><br> -->
                    </p>
                </div>
                <div class="inputContainer">
                    <i class="material-icons">account_circle</i>
                    <p>
                        {{ form.username(size=32) }} <br>
                        {% for error in form.username.errors %} 
                        <span style="color:red;"> [{{ error }}] </span>
                        {% endfor %} 
                    <!-- <input class="inputField" type="text" id="usrnm" name="usrnm" placeholder="Enter your username"><br> -->
                    </p>
                </div>
                <div class="inputContainer">
                    <i class="material-icons">date_range</i>
                    <p>
                        {{ form.dateofbirth(size=32) }} <br>
                        {% for error in form.dateofbirth.errors %} 
                        <span style="color:red;"> [{{ error }}] </span>
                        {% endfor %}
                    <!-- <input class="inputField" placeholder = "Enter your your date of birth" type = "text" onfocus = "(this.type = 'date')"  id = "date"> -->
                    </p>
                    <!--onfocus="(this.type = 'date')" allows the placeholder to be seen before clicking-->
                </div>
                <div class="inputContainer">
                    <i class="material-icons">password</i>
                    <p>
                        {{ form.password(size=32) }} <br>
                        {% for error in form.password.errors %} 
                        <span style="color:red;"> [{{ error }}] </span>
                        {% endfor %}
                        <!-- <input class="inputField" type="password" id="pass1" name="pass1" placeholder="Enter your password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br/> -->
                    </p>
                </div>
                <div class="inputContainer">
                    <i class="material-icons">password</i>
                    <p>
                        {{ form.password2(size=32) }} <br>
                        {% for error in form.password2.errors %} 
                        <span style="color:red;"> [{{ error }}] </span>
                        {% endfor %}
                        <!-- <input class="inputField" type="password" id="pass2" name="pass2" placeholder="Enter your password again"><br> -->
                    </p>
                </div>
                <div class="submitContainer">
                    <button class="button" style="font-size: 15px;" href="homePage.html"> {{ form.submit() }}</button>
                </div>
            </form>
        </div>
{% endblock %} 
    </body>
</html>